/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Components*/
@import url("components/banner.css");
@import url("components/btn.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: whitesmoke;
}

h1, h2, h3, h4, p {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.center-text {
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 800;
}